<div id="<%= dom_id user_interest_submission %>">
  <p>
    <strong>First name:</strong>
    <%= user_interest_submission.first_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user_interest_submission.surname %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= user_interest_submission.company_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_interest_submission.address %>
  </p>

  <p>
    <strong>Number of employees:</strong>
    <%= user_interest_submission.number_of_employees %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user_interest_submission.position %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= user_interest_submission.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_interest_submission.email %>
  </p>

  <p>
    <strong>Contact consent:</strong>
    <%= user_interest_submission.contact_consent %>
  </p>

  <p>
    <strong>Monthly newsletter:</strong>
    <%= user_interest_submission.monthly_newsletter %>
  </p>

  <p>
    <strong>Questions:</strong>
    <%= user_interest_submission.questions %>
  </p>

</div>
